---
layout: blog
title: Blog
permalink: /blog/
---

<div class="blog-container">
  {% for post in site.posts %}
    <div class="blog-card">
      {% if post.banner_image %}
        <div class="blog-banner">
          <img src="{{ post.banner_image }}" alt="Banner Image">
        </div>
      {% endif %}
      
      <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      <i><p class="date">{{ post.date | date: "%B %d, %Y" }}</p></i>
      <p>{{ post.excerpt }}</p>
    </div>
  {% endfor %}
</div>
