/* PROJECT CARDS */
/* Scrollable container */
.friends-card-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    gap: 20px; /* Space between cards */
    white-space: nowrap;
    scroll-behavior: smooth;
}

.friends-card-container::-webkit-scrollbar {
    height: 8px; /* Height of the scrollbar */
}

.friends-card-container::-webkit-scrollbar-thumb {
    background: #bc002d; /* Scrollbar color */
    border-radius: 10px;
}

.card {
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    flex: 0 0 500px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Prevent overflowing content */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* Move card up on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow for effect */
}


.card h2 {
    font-family: 'Unbounded', sans-serif;
    margin-top: 0;
    word-wrap: break-word; /* Ensure automatic line break */
    white-space: normal; /* Ensure normal white space handling */
}

.card p {
    font-family: 'Gabarito', sans-serif;
    word-wrap: break-word; /* Ensure automatic line break */
    white-space: normal; /* Ensure normal white space handling */
}

.friend-1 {
    background-image: url('/assets/un4ya-bg.png');
    background-size: cover;

}

.friend-2 {
    background-image: url('/assets/4unduck-bg.png');
    background-size: cover;
}

.friend-3 {
    background-image: url('/assets/seft-bg.png');
    background-size: cover;
}

.friend-4 {
    background-image: url('/assets/beepybunny-bg.png');
    background-size: cover;
}

.friend-5 {
    background-image: url('  ');
    background-size: cover;
}

/* Scroll Arrows */
.friends-scroll-arrow {
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: rgba(188, 0, 45, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    font-size: 30px;
}

.friends-scroll-arrow.left {
    left: 10px;
}

.friends-scroll-arrow.right {
    right: 10px;
}

.friends-scroll-arrow:hover {
    background-color: rgba(188, 0, 45, 0.8);
}


@media (max-width: 768px) {
    .card {
        display: inline-block;
        border-radius: 10px;
        padding: 20px;
        flex: 0 0 80%; /* Make cards narrower on smaller screens */
        max-width: 80%; /* Ensure cards don't get too wide */
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden; /* Prevent overflowing content */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card h2 {
        font-family: 'Unbounded', sans-serif;
        margin-top: 0;
        word-wrap: break-word; /* Ensure automatic line break */
        white-space: normal; /* Ensure normal white space handling */
        font-size: 20px;
    }
    
    .card p {
        font-family: 'Gabarito', sans-serif;
        word-wrap: break-word; /* Ensure automatic line break */
        white-space: normal; /* Ensure normal white space handling */
        font-size: 15px;
    }
}
