/* PROJECT CARDS */
/* Scrollable container */
.social-card-container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 20px;
    gap: 20px; /* Space between cards */
    white-space: nowrap;
    scroll-behavior: smooth;
}

.social-card-container::-webkit-scrollbar {
    height: 8px; /* Height of the scrollbar */
}

.social-card-container::-webkit-scrollbar-thumb {
    background: #bc002d; /* Scrollbar color */
    border-radius: 10px;
}

.card {
    display: inline-block;
    border-radius: 10px;
    padding: 20px;
    flex: 0 0 500px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Prevent overflowing content */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px); /* Move card up on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow for effect */
}


.card h2 {
    font-family: 'Unbounded', sans-serif;
    margin-top: 0;
    word-wrap: break-word; /* Ensure automatic line break */
    white-space: normal; /* Ensure normal white space handling */
}

.card h3 {
    font-family: 'Unbounded', sans-serif;
    margin-top: 0;
    word-wrap: break-word; /* Ensure automatic line break */
    white-space: normal; /* Ensure normal white space handling */
    font-size: 18px;
}

.card p {
    font-family: 'Gabarito', sans-serif;
    word-wrap: break-word; /* Ensure automatic line break */
    white-space: normal; /* Ensure normal white space handling */
}

.social-1 {
    background-image: url('/assets/mario184-yt-bg.png');
    background-size: cover;

}

.social-2 {
    background-image: url('/assets/discord-social-bg.png');
    background-size: cover;
}

.social-3 {
    background-image: url('/assets/spotify-social-bg.png');
    background-size: cover;
}

.social-4 {
    background-image: url('/assets/reddit-social-bg.png');
    background-size: cover;
}

.social-5 {
    background-image: url('/assets/twitch-social-bg.png');
    background-size: cover;
}

.social-6 {
    background-image: url('/assets/steam-social-bg.png');
    background-size: cover;
}

.social-7 {
    background-image: url('/assets/formerlytwitter-social-bg.png');
    background-size: cover;
}

.social-8 {
    background-image: url('/assets/roblox-social-bg.png');
    background-size: cover;
}

/* Scroll Arrows */
.social-scroll-arrow {
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    background-color: rgba(188, 0, 45, 0.5);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    user-select: none;
    font-size: 30px;
}

.social-scroll-arrow.left {
    left: 10px;
}

.social-scroll-arrow.right {
    right: 10px;
}

.social-scroll-arrow:hover {
    background-color: rgba(188, 0, 45, 0.8);
}

.social-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px; /* Adjust for pill shape */
    background-color: transparent; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline */
    font-family: 'Gabarito', sans-serif; /* Button font family */
    font-size: 15px; /* Button font size */
    border: 2px solid #fff; /* White border */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    margin-top: 10px; /* Adjust top margin as needed */
}

.social-button:hover {
    background-color: #fff; /* Darker background color on hover */
    color: #000;
}


@media (max-width: 768px) {
    .card {
        display: inline-block;
        border-radius: 10px;
        padding: 20px;
        flex: 0 0 80%; /* Make cards narrower on smaller screens */
        max-width: 80%; /* Ensure cards don't get too wide */
        color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden; /* Prevent overflowing content */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card h2 {
        font-family: 'Unbounded', sans-serif;
        margin-top: 0;
        word-wrap: break-word; /* Ensure automatic line break */
        white-space: normal; /* Ensure normal white space handling */
        font-size: 20px;
    }

    .card h3 {
        font-family: 'Unbounded', sans-serif;
        margin-top: 0;
        word-wrap: break-word; /* Ensure automatic line break */
        white-space: normal; /* Ensure normal white space handling */
        font-size: 15px;
    }
    
    .card p {
        font-family: 'Gabarito', sans-serif;
        word-wrap: break-word; /* Ensure automatic line break */
        white-space: normal; /* Ensure normal white space handling */
        font-size: 15px;
    }
}
