/* Reset CSS */
body {
    margin: 0;
    padding: 0;
    color: #fff; /* Set default text color to white */
    font-family: 'Gabarito', sans-serif; /* Set default font */
    background: url('/assets/checkerboard.png') no-repeat center center;
    background-size: cover;
    position: relative; /* Ensure relative positioning */
    min-height: 100vh; /* Ensure full viewport height */
}



/* Header and Navbar Styles */
header {
    background-color: #bc002d; /* Set header background color */
    padding: 10px 0;
    text-align: center; /* Center align all content within header */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Spacing between left-text and center-nav */
    align-items: center; /* Center vertically */
    padding: 0 20px;
}

.left-text p {
    margin: 0;
    font-family: 'SMW Superbig', sans-serif;
    font-size: 24px;
    font-weight: normal; /* Set text to normal weight */
    color: #fff; /* Set text color to white */
}

/* Center the navigation links horizontally */
.center-nav {
    margin: 0 auto;
}

.center-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align navigation links horizontally */
}

.center-nav ul li {
    margin: 0 15px;
}

.center-nav ul li a {
    text-decoration: none;
    color: #fff; /* Unhovered text color */
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
}

.center-nav ul li a:hover {
    text-decoration: underline dotted; /* Dotted underline on hover */
}

/* Custom Fonts */
@font-face {
    font-family: 'SMW Superbig';
    src: url('fonts/super-mario-world-superbig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gabarito';
    src: url('fonts/Gabarito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply font to all <> elements */
p {
    font-family: 'Gabarito', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1 {
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
}



/* Centered Big Text */
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust the height dynamically */
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 60px; /* Adjust size as needed */
    font-family: 'Unbounded', sans-serif !important;
    color: #fff;
    white-space: nowrap;
    overflow: hidden; /* Hide overflow */
    margin-top: 0px; /* Adjust to add space for the header */
}

.content-below {
    padding: 20px; /* Add padding around the container */
    text-align: center;
    margin-top: -35vh; /* Adjust this value to control the gap */
}

/* Projects Container */
.projects-container {
    padding: 20px; /* Add padding around the container */
    margin-top: 20px; /* Add margin to separate from previous content */
    background-color: #000; /* Background color starting from the projects section */
    position: relative; /* Ensure content can stack above the gradient overlay */
    z-index: 1; /* Place above the gradient overlay */
}

.friends-container {
    padding: 20px; /* Add padding around the container */
    margin-top: 0; /* Add margin to separate from previous content */
    background-color: #000; /* Background color starting from the projects section */
    position: relative; /* Ensure content can stack above the gradient overlay */
    z-index: 1; /* Place above the gradient overlay */
}

/* Pill Button */
.discord-friend-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px; /* Adjust for pill shape */
    background-color: #161cbc; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline */
    font-family: 'Gabarito', sans-serif; /* Button font family */
    font-size: 16px; /* Button font size */
    border: none; /* Remove border */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.discord-friend-button:hover {
    background-color: #1d25ff; /* Darker background color on hover */
}

.icon {
    margin-right: 5px; /* Space between icon and text */
}

