/* Reset CSS */
body {
    font-family: 'Gabarito', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header and Navbar Styles */
header {
    background-color: #bc002d; /* Set header background color */
    padding: 10px 0;
    text-align: center; /* Center align all content within header */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Spacing between left-text and center-nav */
    align-items: center; /* Center vertically */
    padding: 0 20px;
}

.left-text {
    color: #fff !important; /* Set text color to white */
}

.left-text p {
    margin: 0;
    font-weight: normal;
    font-family: 'SMW Superbig', sans-serif;
    font-size: 24px;
}

/* Center the navigation links horizontally */
.center-nav {
    margin: 0 auto;
}

.center-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center align navigation links horizontally */
}

.center-nav ul li {
    margin: 0 15px;
}

.center-nav ul li a {
    text-decoration: none;
    color: #fff; /* Unhovered text color */
    font-family: 'Unbounded', sans-serif;
    font-weight: normal;
}

.center-nav ul li a:hover {
    text-decoration: underline dotted; /* Dotted underline on hover */
}

/* Custom Fonts */
@font-face {
    font-family: 'SMW Superbig';
    src: url('fonts/super-mario-world-superbig.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: url('fonts/Unbounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gabarito';
    src: url('fonts/Gabarito.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply Gabarito font to all <p> elements */
p {
    font-family: 'Gabarito', sans-serif;
}
